@use '../../styles/variables' as var;
@import '../../styles/breakpoints';

.elements {
	background-color: var.$white;
	padding: 24px;

	@include md-breakpoint {
		margin: 4px 65px 44px 0;
		padding: 24px;
	}

	@include sm-breakpoint {
		margin: 4px 20px;
		padding: 24px;
	}

	&__action {
		background-color: var.$color-background;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		margin: 24px 0;
	}

	&__search {
		display: flex;
		gap: 16px;
		align-items: center;
	}
}

.page-title {
	color: var.$color-primary;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.search-input {
	max-width: 283.2px;
	height: 40px;

	.form-input {
		height: 40px;
		display: none;

		@include sm-breakpoint {
			display: inline-flex;
		}
	}
}
