//fonts
$font-primary: 'Questrial', sans-serif;
$font-sans: 'Roboto', sans-serif;

//colors
$color-primary: #2D416F;
$color-primary-20: #57678C;
$color-primary-40: #818DA9;
$color-secondary: #4BAA79;
$color-gray: #ABB3C5;
$color-gray-light: #F6F7F9;
$color-error: #E05453;
$white: #ffffff;

// //box-shadows
// $shadow-1: 3px 0px 20px rgba(0, 0, 0, 0.04);
// $shadow-2: 0px 5px 20px rgba(0, 0, 0, 0.04);

// //
// $navbar-height-web: 100px;
// $sidenav-width: 283px;
// $navbar-height-mobile: 70px;