//fonts
$font-primary: 'Questrial', sans-serif;
$font-sans: 'Roboto', sans-serif;

//colors
$color-primary: #2d416f;
$color-primary-20: #57678c;
$color-primary-40: #818da9;
$color-secondary: #4baa79;
$color-secondary-40: #f3fff1;
$color-gray: #abb3c5;
$color-gray-light: #f6f7f9;
$color-error: #e05453;
$white: #ffffff;

//box-shadows
$shadow-1: 3px 0px 20px rgba(0, 0, 0, 0.04);
$shadow-2: 0px 5px 20px rgba(0, 0, 0, 0.04);

// //
$navbar-height-web: 97px;
$sidenav-width: 302px;
$navbar-height-mobile: 70px;
